<h1><%= @profile.username %>'s Followers</h1>
<p><%= link_to "Back to Profile", profile_path(@profile) %></p>

<ul>
  <% @followers.each do |follower| %>
  <li><%= link_to follower.user.username, profile_path(follower.user) %></li>
  <%end%>
</ul>