<h1>Recent Statuses</h1>
<p>Here are the most recent Statuses</p>

<ul>
  <% @statuses.each do |status| %>
  <li><%= status.text %> - @<%= status.user.username %> (<%= time_ago_in_words(status.created_at) %> ago) </li>
  <%end%>
  </ul>
